<%- include("header") -%>
<body>
  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box">
    <%for(var i = 0; i < newListOfItems.length; i++) {%>
    <form action="/delete" method="POST">
      <div class="item">
        <input
          type="checkbox"
          name="checkbox"
          value="<%= newListOfItems[i]._id%>"
          onchange="this.form.submit()"
        />
        <p><%=newListOfItems[i].name%></p>
      </div>
      <input type="hidden" name="listName" value="<%=listTitle%>" />
    </form>

    <%}%>
    <form class="item" action="/" name="form" method="post">
      <input
        type="text"
        name="newItem"
        placeholder="New Item"
        autocomplete="off"
      />
      <button type="submit" name="plusButton" value="<%= listTitle%>">+</button>
    </form>
  </div>
</body>
<%- include("footer") -%>
